* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-primario: #00a0e9;
	--color-secundario: #00a0e9;
	--color-resalte: #b48725;
	--color-main-bg: #fff;
	--color-main-text: #13322b;
	--color-logo-imss: #486f6c;
}

body {
	width: 100vw;
	min-width: 800px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: hsl(134, 10%, 90%);
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.5);
}

header {
	height: 160px;
	background: url(../img/head.png) no-repeat;
	background-repeat: space;
	border-bottom: 8px solid var(--color-main-text);
}

main {
	padding: 2em;
	background-color: var(--color-main-bg);
	color: var(--color-logo-imss);
}

footer {
	background: url(../img/foot.png) no-repeat;
	color: #fff;
	height: 97px;
	padding-bottom: 32px;
	padding-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.75em;
	line-height: 00.75em;
}

h1 {
	color: var(--color-resalte);
}

h1,
h2,
h3,
hr,
p {
	margin-bottom: 1em;
}

hr {
	border: 1px dashed #ddd;
}

main ul {
	margin-left: 32px;
	margin-bottom: 1em;
}

/* BARRA DE NAVEGACIÖN */

nav {
	background-color: #ccc;
	overflow: hidden;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #001122;
}

nav ul li a:hover {
	background-color: #eee;
}

nav ul li a.active {
	background-color: #fff;
}

/* BOTON DESCARGAR */

a.download {
	display: inline-block;
	text-decoration: none;
	background-color: #b48725;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 0 16px;
	margin-bottom: 1em;
	height: 2em;
	line-height: 2em;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

a.download:hover {
	background-color: #f7af09;
}

a.download:visited {
	background-color: #ccc;
}

a.get-adobe img {
	margin-bottom: 0;
}

/* NOTA EN LATERAL */

.sidenote {
	background-color: #eee;
	padding: 1em;
	margin-bottom: 1em;
}

.sidenote img.float-right {
	float: right;
	margin: 0 1em 1em 1em;
}

.sidenote img.graph {
	margin-bottom: 1em;
}

.sidenote img.graph:last-child {
	margin-bottom: 0;
}

hr {
	clear: both;
}

.content-center {
	display: flex;
	align-items: center;
	justify-content: center;
}