html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-primario: #00a0e9;
	--color-secundario: #00a0e9;
	--color-resalte: #b48725;
	--color-main-bg: #fff;
	--color-main-text: #13322b;
	--color-logo-imss: #486f6c;
}

body {
	width: 100vw;
	min-width: 800px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e3e8e4;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	box-shadow: 1px 1px 8px 8px #00000080;
}

header {
	height: 160px;
	background: url(../img/head.png) no-repeat;
	background-repeat: space;
	border-bottom: 8px solid var(--color-main-text);
}

main {
	padding: 2em;
	background-color: var(--color-main-bg);
	color: var(--color-logo-imss);
}

footer {
	background: url(../img/foot.png) no-repeat;
	color: #fff;
	height: 97px;
	padding-bottom: 32px;
	padding-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.75em;
	line-height: 00.75em;
}

h1 {
	color: var(--color-resalte);
}

h1,
h2,
h3,
hr,
p {
	margin-bottom: 1em;
}

hr {
	border: 1px dashed #ddd;
}

main ul {
	margin-left: 32px;
	margin-bottom: 1em;
}

/* BARRA DE NAVEGACIÖN */

nav {
	background-color: #ccc;
	overflow: hidden;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav ul li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #001122;
}

nav ul li a:hover {
	background-color: #eee;
}

nav ul li a.active {
	background-color: #fff;
}

/* BOTON DESCARGAR */

.download {
	display: inline-block;
	color: #fff;
	background-color: #f7af09;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 1em;
	padding: 0.5em 1em;
	border: none;
	border-radius: 0.25em;
	cursor: pointer;
}

.download:hover {
	background-color: #f7af09;
}

.download:visited {
	background-color: #b48725;
}

.download:disabled {
	background-color: #ccc;
}

button.download {
	background-color: #b48725;
}

.get-adobe img {
	margin-bottom: 0;
}

/* NOTA EN LATERAL */

.sidenote {
	background-color: #eee;
	padding: 1em;
	margin-bottom: 1em;
}

.sidenote img.float-right {
	float: right;
	margin: 0 1em 1em 1em;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.sidenote .chart {
	position: relative;
	clear: both;
	height: 400px;
	width: 100%;
	margin: 1em;
	margin-bottom: 1em;
}

.sidenote .chart:last-child {
	margin-bottom: 0;
}

hr {
	clear: both;
}

.content-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type='search'] {
	vertical-align: middle;
	padding: 4px;
	border: none;
	border-radius: 4px;
	font-size: 1em;
}

/* BARRAS DE NENSAJES */

.msg-bar {
	display: inline-block;
	padding: 4px 8px;
	border-radius: 4px;
	margin-bottom: 8px;
	font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
}

.msg-error {
	color: #fff;
	background-color: #f99;
}

.msg-warn {
	color: #000;
	background-color: #fd9;
}

.msg-info {
	color: #fff;
	background-color: #99f;
}

/* TABLA DE AVANCES */

.avances table {
	margin-bottom: 8px;
}

.avances th {
	color: var(--color-main-bg);
	background-color: var(--color-logo-imss);
	border-radius: 4px;
	padding: 4px 16px;
	margin: 2px;
}

.avances td {
	color: var(--color-main-text);
	background-color: var(--color-main-bg);
	border: none;
	border-radius: 4px;
	padding: 4px 16px;
	margin: 2px;
}

.avances td a.ver {
	margin-bottom: 0;
}

/* TABLA DE GUIAS */

#guias table {
	margin-bottom: 8px;
}

#guias th {
	color: var(--color-main-bg);
	background-color: var(--color-logo-imss);
	border-radius: 4px;
	padding: 4px 16px;
	margin: 2px;
}

#guias td {
	color: var(--color-main-text);
	background-color: var(--color-main-bg);
	border: none;
	border-radius: 4px;
	padding: 4px 16px;
	margin: 2px;
}

#guias td a.ver {
	margin-bottom: 0;
}

/* MEDIA QUERIES*/

@media screen and (max-width: 600px) {
	nav ul li a {
		font-size: 3em;
	}
}